<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css"   href="/css/style.css">
    </head>
    <body>
        <div class="header">
            <h1> Programação RPC </h1>
        </div>
        <table class="table_style">
            <tr for (programme in data.programmes)>
                <td>${programme.title}</td>
                <td>${programme.human_start_time}</td>
            </tr>
        </table> 


    </body> 
</html>
